In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Set seed for reproducibility
np.random.seed(234)

In [2]:
# Create synthetic dataset
students = 40
study_hours = np.random.randint(1, 10, students)   # 1 to 9 hours study
job_hours = np.random.randint(0, 15, students)     # 0 to 14 hours job
sleep_hours = np.random.randint(4, 9, students)    # 4 to 8 hours sleep
extracurricular = np.random.randint(0, 6, students) # 0 to 5 hrs activities

# Exam score: positively influenced by study & sleep, negatively by job & extra activities
exam_score = (40 
              + 5*study_hours        # strong positive
              + 2*sleep_hours        # mild positive
              - 3*job_hours          # strong negative
              - 1*extracurricular    # mild negative
              + np.random.randint(-5,5,students))  # noise

data = pd.DataFrame({
    'Study Hours': study_hours,
    'Job Hours': job_hours,
    'Sleep Hours': sleep_hours,
    'Extracurricular Hours': extracurricular,
    'Exam Score': exam_score
})

In [3]:
data.head()

   Study Hours  Job Hours  Sleep Hours  Extracurricular Hours  Exam Score
0            9         10            4                      2          56
1            5          9            5                      1          46
2            2          0            6                      3          57
3            4         10            6                      5          37
4            8          8            7                      1          69

In [4]:
# let's compute the correlation coefficient for each data feature

corr_coefficients = data.corr()
corr_coefficients

,Study Hours,Job Hours,Sleep Hours,Extracurricular Hours,Exam Score
Study Hours,1.000000,-0.136551,-0.006383,-0.114442,0.694048
Job Hours,-0.136551,1.000000,0.188992,0.209991,-0.782525
Sleep Hours,-0.006383,0.188992,1.000000,0.158029,-0.035653
Extracurricular Hours,-0.114442,0.209991,0.158029,1.000000,-0.276837
Exam Score,0.694048,-0.782525,-0.035653,-0.276837,1.000000